@import "tailwindcss";
@import "@nuxt/ui";


:root {
  src: url("../font/EncodeSans-VariableFont-wdth.ttf") format("truetype");
  --font-sans: "Encode Sans", sans-serif;
}

* {
  font-family: "Encode Sans";
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.container-app{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}